<th:block th:fragment>
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Contact</h2>
        <p>We are here to help you!</p>
      </div>

      <!--      Start of contact form-->
      <div class="row gx-lg-0 gy-4">

        <div class="col-lg-4">

          <div class="info-container d-flex flex-column align-items-center justify-content-center">
            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>Vitoshko Lale, Sofia, SF 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>addonisteam4@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+0 0000 0000</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-clock flex-shrink-0"></i>
              <div>
                <h4>Open Hours:</h4>
                <p>Mon-Fri: 10AM - 18PM</p>
              </div>
            </div><!-- End Info Item -->
          </div>

        </div>

        <div class="col-lg-8">
          <form th:action="@{/contact-us}" th:object="${contactForm}" action="#" method="post" role="form"
                class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" th:field="*{name}" name="name" class="form-control" id="name"
                       placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" th:field="*{email}" class="form-control" name="email" id="email"
                       placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" th:field="*{subject}" class="form-control" name="subject" id="subject"
                     placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
                            <textarea class="form-control" th:field="*{message}" name="message" rows="7"
                                      placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
<!--              <button th:action="@{/}" onclick="location.href = 'localhost:8080';" type="submit">Send-->
<!--                Message-->
<!--              </button>-->
              <button type="submit" onclick="sendMsgAsync()">Send Message</button>
            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>
  </section><!-- End Contact Section -->
  <script>

    // function updateEventCount() {
    //   $.get("event-count").done(function(fragment) { // get from controller
    //     $("#eventCount").replaceWith(fragment); // update snippet of page
    //   });
    // }

    function sendMsgAsync() {
      $.post("contact-us").done(function (fragment) {
        alert("test")
        $("#contact").replaceWith(fragment);
      });
    }

  </script>

</th:block>