<th:block th:fragment>
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a
                href="mailto:contact@example.com">addonisteam4@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+00 0000 0000 </span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <h1>Addonis<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/users/filter/1">Users</a></li>
          <li><a href="#" th:href="@{/addons/filter/1}">All Addons</a></li>
          <li th:if="${currentUserIsAdmin}" class="dropdown"><a href="#" >Admin Panel</a>
            <ul>
              <li><a th:href="@{/admin/pending-addons}" href="/portfolio">Pending
                Addons</a></li>
              <li><a th:href="@{/admin/pending-verifications}">Pending Verifications</a></li>
            </ul>
          </li>
          <li th:unless="${currentUserIsLoggedIn}"><a href="#" th:href="@{/login}">Log In</a></li>
          <li th:unless="${currentUserIsLoggedIn}"><a href="#" th:href="@{/register}">Register</a></li>
          <li th:if="${currentUserIsLoggedIn}" class="dropdown">
            <img th:if="${userObject.avatar==null}" style="width: 30px; border-radius: 50%"
                 src=/assets/img/avatar.png alt="no image">
            <img th:unless="${userObject.avatar==null}" style="width: 30px; border-radius: 50%"
                 th:src="@{'data:image/jpeg;base64,' + ${userObject.avatar}}" alt="no image">
            <ul>
              <li><a href="#" th:href="@{/users/{id}(id=${currentUserId})}" >View profile</a></li>
              <li><a href="#" th:href="@{/addons/verify-my-addons}" >Verify Addons</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->


</th:block>