.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.hidden {
    display: none;
}

.bg-offwhite {
    background-color: #f7faff;
}

.infoItems {
    position: relative;
    padding: 30px;
    border-bottom: 1px solid #ddd;
}

.infoItems a {
    font-weight: 700;
    color: #256be6;
    position: absolute;
    right: 15px;
    top: 15px;
}
img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.btn-tito {
    border-color: #008374; !important;
    border-radius: 50px !important
}

.hover-4 {
    background: linear-gradient(#008374 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
}
.hover-4:hover {
    --p: 100%;
    color: #fff;
}

.user-admin-buttons {
    text-align: center;
}