<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/headers.html}"/>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{/fragments/navbar.html}"/>
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>All Addons</h2>
                        <!--                        <p>The better addons registry.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li>Addons</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <form th:action="@{'/addons/filter/1'}" th:object="${filterSortDTO}"
          method="get">
        <div style="background-color: transparent; margin-bottom: 30px;margin-left: 90px; margin-right: 90px">
            <div class="row" style="padding-bottom: 50px">
                <table class="table table-borderless">
                    <thead>
                    <tr style="color: white">
                        <th class="text-center"><label>Search by Addon name</label></th>
                        <th class="text-center"><label>Search by Addon creator</label></th>
                        <th class="text-center"><label>Search by IDE</label></th>
                        <th class="text-center"><label>Sort By</label></th>
                    </tr>
                    <tr>

                        <td>
                            <div class="form-group col-md">
                                <div class="input-group">
                                    <input th:field="${filterSortDTO.addonName}" type="text"
                                           style="background-color: white;width: 120px;font-family: Montserrat,sans-serif; border-radius: 50px"
                                           class="form-control text-center"
                                           placeholder="Addon Name">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group col-md">
                                <div class="input-group">
                                    <input th:field="${filterSortDTO.creatorUsername}" type="text"
                                           style="background-color: white; width: 120px ;font-family: Montserrat,sans-serif; border-radius: 50px"
                                           class="form-control text-center"
                                           placeholder="Creator">
                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="form-group col-md">
                                <div class="input-group">
                                    <input th:field="${filterSortDTO.tags}" type="text"
                                           style="background-color: white; width: 150px; font-family: Montserrat,sans-serif; border-radius: 50px"
                                           class="form-control text-center"
                                           placeholder="Tags">
                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="form-group col-md" style="width: 195px; font-family: Montserrat,sans-serif">

                                <select class="btn-round btn-info text-center"
                                        th:field="${filterSortDTO.ideName}"
                                        style="width: 230px;background-color: white;height: 38px;color: #a4a4a4;font-size: smaller; border-radius: 50px">

                                    <option th:value="${filterSortDTO.emptyString}"
                                            class="dropdown-item">All IDEs
                                    </option>
                                    <option th:each="ide : ${ides}"
                                            th:value="${ide.name}"
                                            th:text="${ide.name}"
                                            class="dropdown-item">IDE name
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col" style="height: 45px">
                                <input type="submit"
                                       class="btn btn-success text-center btn-lg searchButton" style="border-radius: 50px" value="Search"/>
                            </div>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="sortBy">
            <p class="sortByText" >Sort By:</p>
            <select class="btn-round btn-info text-center sortByButton"
                    th:field="${filterSortDTO.orderBy}" onchange="this.form.submit()">
                <option th:value="addon_name"
                        class="dropdown-item" >Name
                </option>
                <option th:value="downloads_count"
                        class="dropdown-item" >Downloads Count
                </option>
                <option th:value="rating"
                        class="dropdown-item" >Rating
                </option>
                <option th:value="upload_date"
                        class="dropdown-item" >Upload Date
                </option>
                <option th:value="last_commit_date"
                        class="dropdown-item" >Last Commit Date
                </option>
            </select>
        </div>
    </form>

    <!-- ======= Blog Section ======= -->
    <section id="blog 1" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4 posts-list" >
                <div class="col-xl-4 col-md-6" th:each="addon:${addons}" >
                    <article>
                        <div class="post-img" th:unless="${addon.getAvatar() == null}" >
                            <img th:src="@{'data:image/jpeg;base64,' + ${addon.getAvatar()}}" alt="No image added" src=""
                                 class="img-fluid" style="max-width: 85%; " >
                        </div>
                        <div class="post-img" th:if="${addon.getAvatar() == null}" >
                            <img src="/assets/img/addons-avatar.png" alt="No image added"
                                 class="img-fluid" style="max-width: 85%; " >
                        </div>
                        <p class="post-category" th:text="${addon.getIde()}">IDE</p>
                        <h2 class="title">
                            <a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}" th:text="${addon.getName()}">Addon</a>
                        </h2>
                        <div class="d-flex align-items-center">
                            <div th:unless="${addon.getCreatorAvatar().isEmpty()}">
                            <img th:src="@{'data:image/jpeg;base64,' + ${addon.getCreatorAvatar()}}" alt=""
                                 class="img-fluid post-author-img flex-shrink-0">
                            </div>
                            <div th:if="${addon.getCreatorAvatar().isEmpty()}">
                                <img src="/assets/img/avatar.png" alt=""
                                     class="img-fluid post-author-img flex-shrink-0">
                            </div>
                            <div class="post-meta">
                                <p class="post-author-list" th:text="${addon.getCreatorName()}">Creator</p>
                            </div>
                            <div  style="margin-left: auto">
                                <p th:text="${addon.getRating()}" style="position: absolute"/>
                                <img src="/assets/avatars/star.png" alt=""
                                     style="width: 20px; margin-left: 40px; margin-top: -4px">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div><!-- End blog posts list -->
        <div class="blog-pagination">
            <nav>
                <ul class="pagination">
                    <li th:if="${firstPage} == false">
                        <a th:href="@{${page - 1} + '?addonName=' + ${filterSortDTO.addonName} + '&creatorUsername=' + ${filterSortDTO.creatorUsername} + '&tags=' + ${filterSortDTO.tags} + '&ideName=' + ${filterSortDTO.ideName} + '&orderBy=' + ${filterSortDTO.orderBy}}">
                            <span aria-hidden="true">«</span><span class="visuallyhidden"></span></a>
                    </li>
                    <li><a aria-current="page"
                           th:href="@{${page} + '?addonName=' + ${filterSortDTO.addonName} + '&creatorUsername=' + ${filterSortDTO.creatorUsername} + '&tags=' + ${filterSortDTO.tags} + '&ideName=' + ${filterSortDTO.ideName} + '&orderBy=' + ${filterSortDTO.orderBy}}"
                           th:value="page" th:text="${page}">1</a>
                    <li th:if="${lastPage} == false" >
                        <a th:href="@{${page + 1} + '?addonName=' + ${filterSortDTO.addonName} + '&creatorUsername=' + ${filterSortDTO.creatorUsername} + '&tags=' + ${filterSortDTO.tags} +'&ideName=' + ${filterSortDTO.ideName} + '&orderBy=' + ${filterSortDTO.orderBy}}">
                            <span class="visuallyhidden"></span><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div><!-- End blog pagination -->
    </section><!-- End Blog Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:include="~{/fragments/footer.html}"/>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:include="~{/fragments/scripts.html}"/>

</body>

</html>