<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Addonis</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/avatars/logo.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!--  <link rel="preconnect" href="https://fonts.googleapis.com">-->
  <!--  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
  <!--  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"-->
  <!--        rel="stylesheet">-->

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">-->
  <!--  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">-->
  <!--  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">-->
  <!--  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <style>
    .form-control:focus {
      border-color: #278127;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .has-error .form-control:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  </style>

</head>
<th:block th:include="~{/fragments/headers.html}"/>
<body>
<th:block th:include="~{/fragments/navbar.html}"/>

<div class="wrapper">
  <div class="section section-signup">

    <div class="container">
      <div class="row">
        <div class="col-8" style="margin: auto">
          <div class="card">
            <div class="card-body">

              <div class="card card-plain">
                <div class="card-header card-header-danger card-signup" style="padding-top: 15px">
                  <h3 class="card-title title-up text-center">Create Addon</h3>
                  <div class="row" style="padding-top: 15px">

                  </div>

                </div>

                <div class="card-body">
                  <form action='#' enctype="multipart/form-data" id="registrationForm"
                        method="post"
                        th:action="@{/new}"
                        th:object="${addon}">
                    <div class="row" style="padding-bottom: 40px">

                      <div class="col-3" style="margin: auto">
                        <label for="image">
                          <img class="rounded-circle" id="blah"
                               src="/assets/avatars/default_picture.png"
                               style="cursor: pointer; height: 140px; padding-left: 20px" title=""/>
                        </label>
                        <input id="image" onchange="readURL(this)" style="display: none"
                               th:field="*{image}" type="file">
                        <p style="text-align: center">Choose Picture</p>
                        <label class="error error-color" th:errors="*{image}">Username name error placeholder</label>
                      </div>
                      <div class="col-3" style="margin: auto">
                        <label for="file">
                          <img class="rounded-circle"
                               src="/assets/avatars/file.png"
                               style="cursor: pointer;height: 110px;padding-left: 35px;margin-top: 20px; margin-bottom: 15px; border-radius: 0!important;" title=""/>
                        </label>

                        <input id="file" class="choosefile" style="display: none"
                               th:field="*{file}"
                               type="file">
                        <p class="fileuploadspan" style="text-align: center">Upload executable file</p>
                        <label class="error" th:errors="*{file}">File error placeholder</label>
                      </div>
                    </div>
                    <div class="row">
                      <!--                                            <div class="col">-->
                      <!--                                                <p class="error" th:if="${errors != null}"-->
                      <!--                                                   th:text="${errors}"></p>-->
                      <!--                                            </div>-->
                    </div>
                    <div class="row">
                      <div class="col">

                        <div class="row">
                          <div class="form-group col-md">
                            <div class="col-12">
                            <label style="color: red; font-weight: bold" class="error"
                                   th:errors="*{name}">Name error placeholder</label>
                            </div>
                            <br>
                            <label>Name</label>
                            <div class="input-group">
                              <div class="input-group-prepend">

                              </div>
                              <input class="form-control" maxlength="50"
                                     minlength="3"
                                     placeholder="Name"
                                     required th:field="*{name}" type="text">
<!--                              <label class="error" th:errors="*{name}">Name error placeholder</label>-->
<!--                              <label class="error error-color" th:if="${#fields.hasErrors('name')}">Addon with this name already exists</label>-->
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-md">
                            <label>Description</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                              </div>
                              <input class="form-control"
                                     maxlength="5000"
                                     minlength="3"
                                     placeholder="Description"
                                     required th:field="*{description}" type="text">
                              <label class="error error-color" th:if="${#fields.hasErrors('description')}">Description error placeholder</label>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-md">
                            <label>IDE Name</label>
                            <div class="input-group">

                              <select class="btn-lg btn-round btn-info"
                                      style="width: 200px;"
                                      th:field="*{ideName}">

                                <option class="dropdown-item"
                                        th:each="ide : ${ides}"
                                        th:text="${ide.name}"
                                        th:value="${ide.name}">IDE name
                                </option>
                              </select>
                              <div>
                                <label style="margin-left: 5px;"
                                       th:text="#{addon.label.tags}">Tags</label>
                                <select id="category" multiple="multiple"
                                        style="width: 475px; font-size: 15px;"
                                        th:field="*{tags}">
                                  <option disabled selected value="">--Select Tags--
                                  </option>
                                  <option th:each="tag : ${tags}"
                                          th:text="${tag.getName()}"
                                          th:value="${tag.getName()}">
                                    Tag Options
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-md">
                            <label style="margin-bottom: 2px;">Origin link</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                              </div>
                              <input class="form-control"
                                     placeholder="Origin Link"
                                     required
                                     th:field="*{originLink}"
                                     type="text">
                              <label class="error" th:errors="*{originLink}">OriginLink error placeholder</label>
                              <!--                              <label class="error error-color" th:if="${#fields.hasErrors('originLink')}">This origin link has already been used</label>-->
                            </div>
                          </div>
                        </div>
                        <div class="row card-footer"
                             style="margin: auto; padding-left: 20px">
                          <div class="col">
                            <input class="btn btn-success" id="submit"
                                   style="float: right"
                                   type="submit" value="Next"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>

<script>
  $(document).ready(function () {

    $("#category").select2({
      tags: true
    });
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#blah')
                .attr('src', e.target.result)
                .height(150);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $('.choosefile').click(function () {
    $('#file').click();
  });
  $('#file').change(function(e) {
    var filename = this.files[0].name;
    $('.fileuploadspan').text(filename);
  });


</script>

</body>
</html>