<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/headers.html}"/>

<body>
<th:block th:include="~{/fragments/navbar.html}"/>
<main id="main">
  <section id="blog" class="blog  adminView">
    <div th:unless="${pendingAddons.size() > 0}">
      <span class="nothing-here">Nothing to see here</span>
    </div>
    <table th:if="${pendingAddons.size() > 0}" class="table table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Addon</th>
        <th scope="col">Has avatar</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="addon : ${pendingAddons}">
        <th scope="row" th:text="${addon.getId()}">1</th>
        <td><a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}" th:text="${addon.getName()}"></a></td>
        <!--      th:value="${addon.name}" th:text="${addon.name}" Addon row</td>-->
        <td th:if="${addon.getAvatar()==null}"><i class="bi bi-emoji-angry"
                                                                           style="font-size: 28px"></i></td>
        <td th:unless="${addon.getAvatar()==null}"><i class="bi bi-emoji-smile"
                                                                            style="font-size: 28px"></i></td>
        <td>
          <form class="teo" method="post" action="#" th:action="@{/admin/approve/{id}(id=${addon.id})}"><input
                  type="submit" class="btn btn-success" style="margin-right: 10px;" value="Approve"></input>
          </form>
          <form id="updateForm" method="post" th:action="@{/admin/notify/{id}(id=${addon.id})}"><input
                  type="submit" class="btn btn-danger" value="Notify user"></form>
        </td>

      </tr>
      </tbody>
    </table>
  </section>
</main>
<div class="footer-fixed">
<th:block th:include="~{/fragments/footer.html}"/>
</div>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>