<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{/fragments/headers.html}"/>
<body>
<th:block th:include="~{/fragments/navbar.html}"/>

<div class="center-it">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Enter Verification Code</h1>
                <div class="account-wall">

                    <form action="#" method="post" th:object="${codeInput}"
                          th:action="@{/confirm/{id}(id=${createdAddon.id})}">

                        <input type="text" class="form-control" minlength="6" maxlength="6" style="margin-bottom:10px"
                               th:field="*{code}" placeholder="Enter Code Here" required>
                        <button class="btn btn-lg btn-success btn-block" type="submit">
                            Verify
                        </button>

                        <a href="http://codinginfinite.com" class="pull-right need-help">Need help? </a><span
                            class="clearfix"></span>
                        <label style="color: red" class="error error-color" th:errors="*{code}">Code error placeholder</label>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<footer id="footer" class="footer" style="position: fixed; bottom: 0; width: 100%">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>Addonis</span>
                </a>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="#" th:href="@{/addons/filter/1}">Addons</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    Vitoshko Lale <br>
                    Sofia, Burgas, Pleven<br>
                    Bulgaria <br><br>
                    <strong>Phone:</strong> +00 0000 0000<br>
                    <strong>Email:</strong> addonisteam4@gmail.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Team 4</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
            Designed by Us </a>
        </div>
    </div>

</footer><!-- End Footer -->


</body>
</html>