<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!--TITLE-->
    <title>Addonis</title>

    <!-- Favicon icon -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png"/>

    <!-- Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link href="../static/css/adminStyle.css" rel="stylesheet" th:href="@{/css/adminStyle.css}" type="text/css">
    <link href="../static/css/adminCsstyle.css" rel="stylesheet" th:href="@{/css/adminCsstyle.css}" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css">
    <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

    <th:block th:include="~{/fragments/headers.html}"/>
    <title>Addonis</title>

</head>
<body>
<th:block th:include="~{/fragments/navbar.html}"/>

<!-- Document Wrapper  -->
<div id="main-wrapper">

    <!-- Admin Hero section-->
    <!--    <div class="hero-section">-->
    <!--    </div>-->
    <!-- Admin End of Hero section-->
    <!-- Content -->
    <div class="py-4" id="content">
        <div class="container">
            <div class="row">

                <!-- Middle Panel -->
                <div class="col-lg-9 profile-area center">

                        <img alt="whatever" src="/assets/img/Will%20be%20better.jpg">
                        <!-- Edit personal info  -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->
    <!-- ======= Footer ======= -->
    <th:block th:include="~{/fragments/footer.html}"/>
    <!-- End Footer -->

    <!--<a class="scroll-top d-flex align-items-center justify-content-center" href="#"><i class="bi bi-arrow-up-short"></i></a>-->

    <!--<div id="preloader"></div>-->
    <!-- Vendor JS Files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/daterangepicker.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/main.js"></script>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/owl.carousel2.thumbs.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/../../cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="/../../s3-us-west-2.amazonaws.com/s.cdpn.io/106949/jquery.onscreen.js"></script>
    <script src="/js/scripts.js"></script>
    <script id="personal-script">
        function cacheAcordion(name) {
            sessionStorage.setItem("userAccordion", name)
        }

        function checkCache() {
            const cacheName = sessionStorage.getItem("userAccordion")
            if (cacheName) {
                const element = document.getElementById(cacheName)
                element.click()
            }
        }

        checkCache()
    </script>
    <script>
        function myFunction() {
            alert("Are you sure you want to lock your account?");
        }
    </script>
    <th:block th:include="~{/fragments/scripts.html}"/>
</body>
</html>