<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{/fragments/headers.html}"/>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{/fragments/navbar.html}"/>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h2>Welcome to <span>Addonis</span></h2>
        <p>The better Addons registry!</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
             class="glightbox btn-watch-video d-flex align-items-center"><i
                  class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="/assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
      </div>
    </div>
  </div>

  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi-plus-circle-fill"></i></div>
            <h4 class="title"><a href="" th:href="@{/new}" class="stretched-link">Create Addon</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-search"></i></div>
            <h4 class="title"><a href="" th:href="@{/addons/filter/1}" class="stretched-link">Browse Addons</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-send-plus-fill"></i></div>
            <h4 class="title"><a href="" th:href="@{/invite-a-friend}" class="stretched-link">Invite a friend</a> </h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-people-fill"></i></div>
            <h4 class="title"><a href="" th:href="@{/users/filter/1}" class="stretched-link">Amazing Users</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

      </div>
    </div>
  </div>

</section>
<!-- End Hero Section -->

<main id="main">


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Addons</h2>
        <!--        <p>Our thoughtful admins selected these addons especially for you.</p>-->
      </div>
      <div class="portfolio-isotope" data-portfolio-filter=".filter-app" data-portfolio-layout="masonry"
           data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
        <div>
          <ul class="portfolio-flters">
            <li data-filter=".filter-app" >
              <p style="padding-left: 40px;margin-bottom: -5px">Newest</p>
            <li style="padding-left: 73%" > <a href ="#" th:href="@{/addons/filter/1(orderBy=upload_date)}" >See more </a></li>
          </ul><!-- End Portfolio Filters -->
        </div>
        <div class="row gy-4 portfolio-container all-items ">
          <button onclick="moveItems(-1)" class="col-xl-1 portfolio-item homepage" style="width: 30px;height: 30px;margin-top: 120px;">
            < </button>
          <div class="col-xl-3 portfolio-item filter-app" th:each="addon :${addonNewest}" style="width: 23%!important;">
            <div class="portfolio-wrap">
              <div th:unless="${addon.avatar==null}">
                <img th:src="@{'data:image/jpeg;base64,' + ${addon.avatar}}" alt="No image added" src=""
                     class="img-fluid" style="max-width: 45%">
              </div>
              <div th:if="${addon.avatar==null}">
                <img src="/assets/img/addons-avatar.png" alt="No image added"
                     class="img-fluid" style="max-width: 45%">
              </div>
              <div class="portfolio-info">
                <h4><a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}"
                       th:text="${addon.getName()}">Addon</a></h4>
                <p th:text="${addon.getDescription()}">Addon Description</p>
                <div  style="margin-left: auto; padding-top: 9px">
                  <p th:text="${addon.getRating()}" style="position: absolute"/>
                  <img  src="/assets/avatars/star.png" alt=""
                        style="width: 15px; margin-left: 28px; margin-top: -4px;padding-top: 8px;height: auto!important;">
                  <a th:href="${addon.getDownloadLink()}" href="#" >
                    <img src="/assets/avatars/download.png" class="downloadImage" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <button onclick="moveItems(+1)" class="col-xl-1 portfolio-item  homepage" style="width: 30px;height: 30px;margin-top: 120px;"> > </button>
          <!-- End Portfolio Item -->
        </div><!-- End Portfolio Container -->
      </div>
      <div>
        <ul class="portfolio-flters">
          <li data-filter=".filter-product" >
            <p style="padding-left: 40px;margin-bottom: -5px">Most download</p></li>
          <li style="padding-left: 64%"><a href ="#" th:href="@{/addons/filter/1(orderBy=downloads_count)}" >See more </a></li>
        </ul><!-- End Portfolio Filters -->
      </div>
      <div class="row gy-4 portfolio-container all-items ">
        <button onclick="moveItems2(-1)" class="col-xl-1 portfolio-item homepage" style="width: 30px;height: 30px;margin-top: 120px;">
          < </button>
        <div class="col-xl-3 portfolio-item filter-product" th:each="addon :${addonDownload}" style="width: 23%!important;">
          <div class="portfolio-wrap" >
            <div th:unless="${addon.avatar==null}">
              <img th:src="@{'data:image/jpeg;base64,' + ${addon.avatar}}" alt="No image added" src=""
                   class="img-fluid" style="max-width: 45%">
            </div>
            <div th:if="${addon.avatar==null}">
              <img src="/assets/img/addons-avatar.png" alt="No image added"
                   class="img-fluid" style="max-width: 45%">
            </div>
            <div class="portfolio-info">
              <h4><a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}"
                     th:text="${addon.getName()}">Addon</a></h4>
              <p th:text="${addon.getDescription()}" >Addon Description</p>
              <div  style="margin-left: auto; padding-top: 9px">
                <p th:text="${addon.getRating()}" style="position: absolute"/>
                <img  src="/assets/avatars/star.png" alt=""
                      style="width: 15px; margin-left: 28px; margin-top: -4px;padding-top: 8px;height: auto!important;">
                <!--                <p  style="position: absolute">5 </p>-->
                <!--                <img  src="/assets/avatars/download.png" alt=""-->
                <a th:href="${addon.getDownloadLink()}" href="#" >
                  <img src="/assets/avatars/download.png" class="downloadImage" alt="">
                </a>
                <!--                      style="width: 15px; margin-left: 28px; margin-top: -4px;padding-top: 8px;height: auto!important;">-->
              </div>
            </div>
          </div>
        </div>
        <button onclick="moveItems2(+1)" class="col-xl-1 portfolio-item homepage " style="width: 30px;height: 30px;margin-top: 120px;"> > </button>
        <!-- End Portfolio Item -->
      </div>
      <div>
        <ul class="portfolio-flters">
          <li data-filter=".filter-books" >
            <p style="padding-left: 40px;margin-bottom: -5px">Most rated</p></li>
          <li style="padding-left: 69%"><a href ="#" th:href="@{/addons/filter/1(orderBy=rating)}" >See more </a></li>
        </ul><!-- End Portfolio Filters -->
      </div>
      <div class="row gy-4 portfolio-container all-items ">
        <button onclick="moveItems3(-1)" class="col-xl-1 portfolio-item homepage" style="width: 30px;height: 30px;margin-top: 120px;">
          < </button>
        <div class="col-xl-3 portfolio-item filter-books" th:each="addon :${addonRating}" style="width: 23%!important;">
          <div class="portfolio-wrap">
            <div th:unless="${addon.avatar==null}">
              <img th:src="@{'data:image/jpeg;base64,' + ${addon.avatar}}" alt="No image added" src=""
                   class="img-fluid" style="max-width: 45%">
            </div>
            <div th:if="${addon.avatar==null}">
              <img src="/assets/img/addons-avatar.png" alt="No image added"
                   class="img-fluid" style="max-width: 45%">
            </div>
            <div class="portfolio-info">
              <h4><a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}"
                     th:text="${addon.getName()}">Addon</a></h4>

              <p th:text="${addon.getDescription()}">Addon Description</p>
              <div  style="margin-left: auto; padding-top: 9px">
                <p th:text="${addon.getRating()}" style="position: absolute"/>
                <img  src="/assets/avatars/star.png" alt=""
                      style="width: 15px; margin-left: 28px; margin-top: -4px;padding-top: 8px;height: auto!important;">
                <a th:href="${addon.getDownloadLink()}" href="#" >
                  <img src="/assets/avatars/download.png" class="downloadImage" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->
        <button onclick="moveItems3(+1)" class="col-xl-1 portfolio-item homepage " style="width: 30px;height: 30px;margin-top: 120px;"> > </button>

      </div>
    </div>

  </section><!-- End Portfolio Section -->

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4 align-items-center">

        <div class="col-lg-6">
          <img src="/assets/img/stats-img.svg" alt="" class="img-fluid">
        </div>

        <div class="col-lg-6">

          <div class="stats-item d-flex align-items-center">
                        <span data-purecounter-start="0" th:data-purecounter-end="${usersCount}"
                              data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Amazing users</strong> all godlike developers :)</p>
          </div><!-- End Stats Item -->

          <div class="stats-item d-flex align-items-center">
                        <span data-purecounter-start="0" th:data-purecounter-end="${addonsCount}"
                              data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Addons</strong> all functioning!</p>
          </div><!-- End Stats Item -->

          <div class="stats-item d-flex align-items-center">
                        <span data-purecounter-start="0" th:data-purecounter-end="${idesCount}"
                              data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>IDES</strong> From Front-end to Back-end.</p>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </div>
  </section><!-- End Stats Counter Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Addonis is an Addons Registry web application.</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>May the battle of IDEs begin...</h3>
          <img src="/assets/img/ide-battle.png" class="img-fluid rounded-4 mb-4" alt="">
          <br>
          <br>
          <br>
          <p><b>Here are some of the technologies used in our project.</b></p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Some of our amazing features are:
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> Publish your own addons.</li>
              <li><i class="bi bi-check-circle-fill"></i> Browse already existing addons for your
                preffered IDE.
              </li>
              <li><i class="bi bi-check-circle-fill"></i> Rate addons according to your experience.</li>
            </ul>
            <div class="position-relative mt-4">
              <img src="/assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-out">

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="/assets/img/clients/technology-1.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="/assets/img/clients/technology-2.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="/assets/img/clients/technology-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="/assets/img/clients/technology-4.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="/assets/img/clients/technology-5.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="/assets/img/clients/technology-6.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="/assets/img/clients/technology-7.jpg" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="/assets/img/clients/technology-8.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Clients Section -->



  <!-- ======= Our Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Team</h2>
      </div>

      <div class="row gy-4 justify-content-center">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
            <h4>Tihomir Angelov</h4>
            <span>Java Developer</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/tihomir-angelov-5641ba226/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/assets/img/team/team-3.jpg" class="img-fluid" alt="">
            <h4>Teodor Zvezdov</h4>
            <span>Java Developer</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/teodor-zvezdov/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="/assets/img/team/team-4.jpg" class="img-fluid" alt="">
            <h4>Kostadin Krushkov</h4>
            <span>Java Developer</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/kostadin-krushkov-123393221/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>
  </section><!-- End Our Team Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="content px-xl-5">
            <h3>Frequently Asked <strong>Questions</strong></h3>
          </div>
        </div>

        <div class="col-lg-8">

          <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-1">
                  <span class="num">1.</span>
                  How to create an Add-on?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Tap Create Addon.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-2">
                  <span class="num">2.</span>
                  What happens if I forget to verify my email?
                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Contact the support.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-3">
                  <span class="num">3.</span>
                  How long does it take to approve my add-on?
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  A few hours.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-4">
                  <span class="num">4.</span>
                  How many add-ons am I allowed to add each month?
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  No limit.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-5">
                  <span class="num">5.</span>
                  How to donate?
                </button>
              </h3>
              <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Via Paypal.
                </div>
              </div>
            </div><!-- # Faq item-->

          </div>

        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <th:block th:include="~{/fragments/contact-form-fragment.html}"/>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:include="~{/fragments/footer.html}"/>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:include="~{/fragments/scripts.html}"/>
<script>
  const maxItems = 4;
  let startIndex = 0;
  let allItems = [];

  function displayItems() {
    allItems = []
    allItems.push(...document.getElementsByClassName('filter-app'));
    const endIndex = startIndex + maxItems - 1;

    for (let i = 0; i < allItems.length; i++) {
      const item = allItems[i];
      if (i < startIndex || i > endIndex) {
        item.classList.add('hidden');
      } else {
        item.classList.remove('hidden');
      }
    }
  }

  function moveItems(step) {
    if (startIndex + step >= 0 && startIndex + maxItems + step <= allItems.length) {
      startIndex += step;
    }
    displayItems();
  }

  displayItems();
</script>

<script>
  const maxItems2 = 4;
  let startIndex2 = 0;
  let allItems2 = [];

  function displayItems2() {
    allItems2 = []
    allItems2.push(...document.getElementsByClassName('filter-product'));
    const endIndex = startIndex2 + maxItems2 - 1;

    for (let i = 0; i < allItems2.length; i++) {
      const item = allItems2[i];
      if (i < startIndex2 || i > endIndex) {
        item.classList.add('hidden');
      } else {
        item.classList.remove('hidden');
      }
    }
  }

  function moveItems2(step) {
    if (startIndex2 + step >= 0 && startIndex2 + maxItems2 + step <= allItems2.length) {
      startIndex2 += step;
    }
    displayItems2();
  }
  displayItems2();
</script>

<script>
  const maxItems3 = 4;
  let startIndex3 = 0;
  let allItems3 = [];

  function displayItems3() {
    allItems3 = []
    allItems3.push(...document.getElementsByClassName('filter-books'));
    const endIndex = startIndex3 + maxItems3 - 1;

    for (let i = 0; i < allItems3.length; i++) {
      const item = allItems3[i];
      if (i < startIndex3 || i > endIndex) {
        item.classList.add('hidden');
      } else {
        item.classList.remove('hidden');
      }
    }
  }

  function moveItems3(step) {
    if (startIndex3 + step >= 0 && startIndex3 + maxItems3 + step <= allItems3.length) {
      startIndex3 += step;
    }
    displayItems3();
  }

  displayItems3();
</script>

</body>
</html>