<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/headers.html}"/>
<body>
<th:block th:include="~{/fragments/navbar.html}"/>

<form action="#" method="post" th:object="${inviteFriend}" th:action="@{/invite-a-friend}">
  <div class="form-group">
    <label for="exampleInputEmail1" style="margin-bottom: 5px; margin-top: 10px; margin-left: 40px">Email address</label>
    <div class="col-4">
    <input type="email" style="margin-top: 5px; margin-bottom: 5px; margin-left: 40px" th:field="*{email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>
    <small style="margin-left: 40px" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <label style="color: red" class="error error-color" th:errors="*{email}">Email name error placeholder</label>
  </div>

  <button type="submit" style="margin-bottom: 10px; margin-top: 10px; margin-left: 40px" class="btn btn-primary">Submit</button>
</form>



<footer id="footer" class="footer" style="position: fixed; bottom: 0; width: 100%">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>Addonis</span>
        </a>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="#" th:href="@{/addons/filter/1}">Addons</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          Vitoshko Lale <br>
          Sofia, Burgas, Pleven<br>
          Bulgaria <br><br>
          <strong>Phone:</strong> +00 0000 0000<br>
          <strong>Email:</strong> addonisteam4@gmail.com<br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Team 4</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
      Designed by Us </a>
    </div>
  </div>

</footer><!-- End Footer -->
</body>
</html>