<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Favicon icon -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png"/>

    <!-- All CSS -->
    <!-- fontAwesome -->
    <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css">
    <!-- 7 stroke icon -->
    <link href="../static/css/pe-icon-7-stroke.css" rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}"
          type="text/css">
    <!-- Roysha icon -->
    <link href="../static/css/roysha-icons.css" rel="stylesheet" th:href="@{/css/roysha-icons.css}" type="text/css">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link href="../static/css/owl.carousel.min.css" rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"
          type="text/css">
    <link href="../static/css/jquery.fancybox.min.css" rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}"
          type="text/css">
    <link href="../static/css/nice-select.css" rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!-- custom css if you need -->

    <!-- Color Palette. simple uncommned if you need any color palette -->
    <!-- <link rel="stylesheet" href="css/switcher/css/red.css"> -->
    <th:block th:include="~{/fragments/headers.html}"/>
    <title>Addonis</title>
</head>
<body class="login-page">
<th:block th:include="~{/fragments/navbar.html}"/>
<link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

<div class="signup-login">
    <div class="sl-form-wrap">
        <div class="content-box">
            <h2>Login Account</h2>

        </div>
        <form class="sl-form" method="post" th:action="@{/authenticate}">
            <div class="form-group">
                <label>Username</label>
                <input name="username" placeholder="Username" required type="text">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" placeholder="Password" required type="password">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Remember Password</label>
            </div>
            <div class="alert " style="color: black;
                 font-size: x-large;
                 font-weight: bold;" th:if="${errorMessage}" th:text="${errorMessage}"></div>
            <button class="btn btn-filled btn-round btn-tito"><span class="bh"></span> <span>Login</span></button>
            <p class="notice">Don’t have an account? <a href="#" th:href="@{/register}">Sign up Now</a></p>
        </form>
    </div>
</div>

<!-- JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/owl.carousel2.thumbs.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/../../cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="/../../s3-us-west-2.amazonaws.com/s.cdpn.io/106949/jquery.onscreen.js"></script>
<script src="/js/scripts.js"></script>
</body>

</html>