<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Favicon icon -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png"/>

    <!-- All CSS -->
    <!-- fontAwesome -->
    <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css">
    <!-- 7 stroke icon -->
    <link href="../static/css/pe-icon-7-stroke.css" rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}"
          type="text/css">
    <!-- Roysha icon -->
    <link href="../static/css/roysha-icons.css" rel="stylesheet" th:href="@{/css/roysha-icons.css}" type="text/css">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link href="../static/css/owl.carousel.min.css" rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"
          type="text/css">
    <link href="../static/css/jquery.fancybox.min.css" rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}"
          type="text/css">
    <link href="../static/css/nice-select.css" rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!-- custom css if you need -->
    <th:block th:include="~{/fragments/headers.html}"/>
    <title>VP Money Transfer</title>
</head>
<body class="signup-page">
<th:block th:include="~{/fragments/navbar.html}"/>
<link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">


<div class="signup-login">
    <div class="sl-form-wrap">

        <div class="content-box">
            <h2>Create Account</h2>
        </div>
        <form action="#" class="sl-form" method="post" th:action="@{/register}" th:object="${register}">
            <div class="form-group">
                <label>Username</label>
                <input name="username" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 97 && event.charCode <= 122
                    || event.charCode >= 65 && event.charCode <= 90" pattern="[a-zA-Z0-9]{3,20}" placeholder="Username"
                       required th:field="*{username}"
                       title="AlphaNumeric characters only in range of 3 and 20 chars."
                       type="text">
                <label class="error error-color" th:errors="*{username}">Username name error placeholder</label>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input name="firstName" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 97 && event.charCode <= 122
                    || event.charCode >= 65 && event.charCode <= 90" pattern="[a-zA-Z]{3,20}" placeholder="First Name"
                       required th:field="*{firstName}"
                       title="AlphaNumeric characters only in range of 3 and 20 chars."
                       type="text">
                <label class="error error-color" th:errors="*{firstName}">First name error placeholder</label>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input name="lastName" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 97 && event.charCode <= 122
                    || event.charCode >= 65 && event.charCode <= 90" pattern="[a-zA-Z]{3,20}" placeholder="Last Name"
                       required th:field="*{lastName}"
                       title="AlphaNumeric characters only in range of 3 and 20 chars."
                       type="text">
                <label class="error error-color" th:errors="*{lastName}">Last name error placeholder</label>
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input name="email" pattern="^[\w-\+]+(\.[\w]+)*@[\w-]+(\.[\w]+)*(\.[a-z]{2,})$" placeholder="email@gmail.com"
                       required  th:field="*{email} " title="The allowed format is: email@gmail.com"
                       type="text">
                <label class="error error-color" th:errors="*{email}">Email name error placeholder</label>
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <input name="phone" pattern="[0-9]{10}$" placeholder="0888888888" required th:field="*{phone}"
                       title="The allowed format is: 0888888888">
                <label class="error error-color" th:errors="*{phone}">Phone name error placeholder</label>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" th:field="*{password}" placeholder="Password" required
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,20}"
                       title="Must contain at least one  number and one uppercase and lowercase letter, and at least 4 or more characters">
                <label class="error error-color" th:errors="*{password}">Password name error placeholder</label>
            </div>
            <div class="form-group">
                <label>Retype Password</label>
                <input type="password" name="passwordConfirm" th:field="*{passwordConfirm}" placeholder="Password" required
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,20}"
                       title="Must contain at least one  number and one uppercase and lowercase letter, and at least 4 or more characters">
                <label class="error error-color" th:errors="*{passwordConfirm}">Password name error placeholder</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Agree with <a href="#">Terms and Conditions</a></label>
            </div>
            <button class="btn btn-filled btn-round btn-tito" >
                <span class="bh"></span> <span>Sign up</span></button>
            <p class="notice">Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>
</div>

<!-- JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/owl.carousel2.thumbs.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/../../cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="/../../s3-us-west-2.amazonaws.com/s.cdpn.io/106949/jquery.onscreen.js"></script>
<script src="/js/scripts.js"></script>
</body>

</html>