<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:include="~{/fragments/headers.html}"/>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{/fragments/navbar.html}"/>
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="position-relative h-100" th:unless="${addon.avatar==null}"
                             style="height: 82%!important;">
                            <img th:src="@{'data:image/jpeg;base64,' + ${addon.avatar}}" alt="No image added" src=""
                                 style="width: 200px">
                        </div>
                        <div class="position-relative h-100" th:if="${addon.avatar==null}"
                             style="height: 82%!important;">
                            <img src="/assets/img/addons-avatar.png" alt="No image added"
                                 style="width: 200px">
                        </div>
                        <h2 th:text="${addon.name}"></h2>
                        <button th:if="${currentUserIsLoggedIn} and ${addon.getCreator().equals(userObject)}" id="open">Add Maintainers</button>
                        <div class="modal-container" id="modal-container">
                            <div class="mymodal">
                                <h1>Add Maintainers</h1>

                                <!--                                //insert here-->
                                <table class="table table-hover maintainers" >
                                    <thead>
                                    <tr>
                                        <th scope="col">Verified</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <th scope="row" th:if="${user.getUserDetails().isVerified()}">
                                            <i class="bi bi-check" style="font-size: 28px"></i></th>
                                        <th scope="row" th:if="${!user.getUserDetails().isVerified()}">
                                            <i class="bi bi-emoji-angry" style="font-size: 28px"></i></th>
                                        <td><a href="#" th:href="@{/users/{id}(id=${user.id})}"
                                               th:text="${user.username}"></a>

                                        <td>
                                            <form class="teo" method="post" action="#" th:if="${!addon.getMaintainers().contains(user.username)}"
                                                  th:action="@{/addons/promote/{addonName}/{username}(addonName=${addon.name}, username=${user.username})}">
                                                <input type="submit" class="btn btn-success" style="margin-right: 10px;"
                                                       value="Promote"></input>
                                            </form>
                                            <form id="updateForm" method="post" th:if="${addon.getMaintainers().contains(user.username)}" th:action="@{/addons/demote/{addonName}/{username}(addonName=${addon.name}, username=${user.username})}">
                                                <input type="submit" class="btn btn-danger" value="Demote"></form>
                                        </td>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                                <br>
                                <button id="close">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="#" th:href="@{/addons/filter/1}">All Addons</a></li>
                    <li>Addon Details</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" style="padding: 0">
        <div class="container" data-aos="fade-up">


            <div class="row justify-content-between gy-4 mt-4">

                <div class="col-lg-6">
                    <div class="portfolio-description">
                        <h2>Description</h2>
                        <p th:text="${addon.getDescription()}" style="text-indent: 10px">Description Placeholder
                        </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="portfolio-info">
                        <h3>Addon information</h3>
                        <p style="margin-bottom: 0; font-family: Montserrat,serif" th:if="${currentUserIsLoggedIn}">
                            Please rate us</p>
                        <form class="rate" th:action="@{/addons/{id}/rate(id=${addon.getId()})}" th:object="${rating}"
                              method="post"
                              th:if="${currentUserIsLoggedIn}">

                            <input type="radio" id="star5 " name="rate" value="5" th:field="${rating.vote}" th:value="5"
                                   onchange="this.form.submit()"/>
                            <label for="star5 " title="text">5 stars</label>

                            <input type="radio" id="star4 " name="rate" value="4" th:field="${rating.vote}" th:value="4"
                                   onchange="this.form.submit()"/>
                            <label for="star4 " title="text">4 stars</label>

                            <input type="radio" id="star3" name="rate" value="3" th:field="${rating.vote}" th:value="3"
                                   onchange="this.form.submit()"/>
                            <label for="star3" title="text">3 stars</label>

                            <input type="radio" id="star2 " name="rate" value="2" th:field="${rating.vote}" th:value="2"
                                   onchange="this.form.submit()"/>
                            <label for="star2 " title="text">2 stars</label>

                            <input type="radio" id="star1 " name="rate" value="1" th:field="${rating.vote}" th:value="1"
                                   onchange="this.form.submit()"/>
                            <label for="star1 " title="text">1 stars</label>
                        </form>

                        <ul>
                            <li><strong>Tags</strong>
                            </li>
                            <span th:each="tag : ${tags}">
                            <a class="tag_box" th:href="@{/addons/filter/1(tags=${tag})}" th:text="${tag}">Tags placeholder</a></span>
                            <li><strong>IDE</strong> <span
                                    th:text="${addon.getIde().getName()}">IDE Placeholder</span>
                            </li>
                            <li><strong>Released on</strong> <span
                                    th:text="${#temporals.format(addon.getCreatedOn(), 'dd-MM-yyyy HH:mm')}">Release Date</span>
                            </li>
                            <li><strong>Last commit date</strong> <span
                                    th:text="${#dates.format(addon.getGitHubData().getLastCommitDate(), 'dd-MMM-yyyy')}">01 March, 2020</span>
                            </li>
                            <li><strong>Downloads</strong> <span
                                    th:text="${addon.getDownloadsCount()}">Downloads</span>
                                <img src="/assets/avatars/downloadsinglepage.png" alt=""
                                     style="width: 15px">
                            </li>
                            <li><strong>Rating</strong>
                                <span th:text="${rating.avgRating}">
                                Rating</span>
                                <img src="/assets/avatars/star.png" alt=""
                                     style="width: 15px; position: absolute; margin-left: 28px; margin-top: 22px">

                            </li>
                            <li><strong>Open issues count</strong> <span
                                    th:text="${addon.getGitHubData().getOpenIssuesCount()}">01 March, 2020</span>
                            </li>
                            <li><strong>Pull count</strong> <span th:text="${addon.getGitHubData().getPullCount()}">01 March, 2020</span>
                            </li>
                            <li><strong>Origin Link</strong> <a th:text="${addon.getOriginLink()}"
                                                                th:href="${addon.getOriginLink()}" href="#"></a>
                            </li>
                            <li><a th:href="${addon.getDownloadLink()}" href="#" class="btn-visit align-self-start">Download
                                Addon</a>
                                <span style="margin-top: 14px; margin-bottom: 14px"
                                      th:if="${currentUserIsLoggedIn} and ${userObject.getUsername()==addon.getCreator().getUsername()} or ${currentUserIsLoggedIn} and ${addon.getMaintainers().contains(userObject.getUsername())}"><a
                                        th:href="@{/addons/{id}/edit(id=${addon.getId()})}" href="#"
                                        class="btn-visit align-self-start">Edit</a></span>
                                <form onsubmit="return confirm('Do you really want to delete the addon?');"
                                      id="delete-form" method="post"
                                      style="border: none; background-color: rgba(0,0,0,0); padding: 1px"
                                      th:action="@{/addons/delete/{id}(id=${addon.getId()})}"
                                      th:if="${currentUserIsLoggedIn} and ${userObject.getUsername()==addon.getCreator().getUsername()} or ${currentUserIsLoggedIn} and ${userObject.isAdmin()}">
                                    <input class="btn-visit align-self-start"
                                           style="background-color: red; border: none" id="submitdeladdon"
                                           type="submit"
                                           value="Delete Addon">
                                </form>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->
    </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:include="~{/fragments/footer.html}"/>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:include="~{/fragments/scripts.html}"/>

<script>
    const open = document.getElementById('open');
    const modal_container = document.getElementById('modal-container');
    const close = document.getElementById('close');

    modal_container.style.overflowY = 'scroll';

    open.addEventListener('click', () => {
        modal_container.classList.add('show');
    })

    close.addEventListener('click', () => {
        modal_container.classList.remove('show');
    })

    document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
            modal_container.classList.remove('show');
        }
    });
</script>

</body>

</html>