<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!--TITLE-->
    <title>Addonis</title>

    <!-- Favicon icon -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png"/>

    <!-- Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link href="../static/css/adminStyle.css" rel="stylesheet" th:href="@{/css/adminStyle.css}" type="text/css">
    <link href="../static/css/adminCsstyle.css" rel="stylesheet" th:href="@{/css/adminCsstyle.css}" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css">
    <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

    <th:block th:include="~{/fragments/headers.html}"/>
    <title>Addonis</title>

</head>
<body>
<th:block th:include="~{/fragments/navbar.html}"/>

<!-- Document Wrapper  -->
<div id="main-wrapper">

    <!-- Admin Hero section-->
    <!--    <div class="hero-section">-->
    <!--    </div>-->
    <!-- Admin End of Hero section-->
    <!-- Content -->
    <div class="py-4" id="content">
        <div class="container">
            <div class="row">

                <!-- Middle Panel -->
                <div class="col-lg-9 profile-area center">


                    <div th:if="${currentUser != null} and ${currentUser.getId() == user.getId()}">


                        <h3 class="admin-heading bg-offwhite">Personal Profile<a class="btn-link pbtn"
                                                                                 data-id="edit-personal-details"
                                                                                 href="#edit-personal-details"
                                                                                 id="personal-details"
                                                                                 onclick="cacheAcordion('personal-details')"><i
                                class="fas fa-edit mr-1"></i>Update</a></h3>

                        <!-- Edit personal info  -->
                        <div class="accord bg-offwhite" id="edit-personal-details">
                            <div class="content-edit-area">
                                <div class="edit-header">
                                    <button class="close" type="button"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="edit-content">
                                    <form enctype='multipart/form-data'
                                          id="personaldetails"
                                          method="post"
                                          th:action="@{/users/{id}(id=${userUpdate.getId()})}"
                                          th:object="${userUpdate}">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="firstName"><b>First Name</b></label>
                                                    <label>
                                                        <input class="form-control" data-pr-form="firstName"
                                                               id="firstName"
                                                               pattern="[a-zA-Z]{3,20}" th:field="*{firstName}"
                                                               th:placeholder="*{firstName}"
                                                               type="text">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="lastName"><b>Last Name</b></label>
                                                    <label>
                                                        <input class="form-control" data-pr-form="lastName"
                                                               id="lastName"
                                                               pattern="[a-zA-Z]{3,20}" th:field="*{lastName}"
                                                               th:placeholder="*{lastName}"
                                                               type="text">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="phone"><b>Phone number</b></label>
                                                    <label>
                                                        <input class="form-control" id="phone"
                                                               pattern="[0-9]{10}$"
                                                               required
                                                               th:field="*{phone}"
                                                               th:placeholder="*{phone}"
                                                               title="The allowed format is: 0888888888"
                                                               type="text">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="address"><b>Email</b></label>
                                                <label>
                                                    <input class="form-control"
                                                           data-pr-form="address"
                                                           id="address"
                                                           pattern="^[\w-\+]+(\.[\w]+)*@[\w-]+(\.[\w]+)*(\.[a-z]{2,})$"
                                                           th:field="*{email}"
                                                           th:placeholder="*{email}"
                                                           title="The allowed format is: email@gmail.com"
                                                           type="email">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="file"><b>Picture</b></label>
                                                <label>
                                                    <input accept=".jpg,.jpeg,.png,.gif" class="form-control"
                                                           data-pr-form="picture"
                                                           id="file" name="file"
                                                           onchange="return fileValidation()"
                                                           type="file">
                                                </label>
                                            </div>
                                        </div>
                                        <label class="error error-color" th:errors="*{email}">Email name error
                                            placeholder</label>
                                        <div id="imagePreview"></div>
                                        <div class="col-12">
                                            <label class="error error-color text-danger" style="font-weight: bold;"
                                                   th:each="err : ${userUpdateErrors}" th:text="${err}">Email name error
                                                placeholder</label>
                                        </div>
                                        <button class="btn btn-default" type="submit"><i class="far fa-save"></i>
                                            Save
                                            Changes
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <h3 class="admin-heading bg-offwhite">Account password<a class="btn-link pbtn"
                                                                                 data-id="change-password"
                                                                                 href="#change-password"
                                                                                 id="changePassword"
                                                                                 onclick="cacheAcordion('changePassword')"><i
                                class="fas fa-edit mr-1"></i>Change</a></h3>


                        <!-- Change password  -->
                        <div class="accord bg-offwhite" id="change-password">
                            <div class="content-edit-area">
                                <div class="edit-header">
                                    <button class="close" type="button"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="edit-header">
                                </div>
                                <div class="edit-content">
                                    <form method="post"
                                          th:action="@{/users/{id}/change-password(id=${user.getId()})}"
                                          th:object="${userCp}">
                                        <div class="form-group">
                                            <label><b>Confirm Current Password</b></label>
                                            <input class="form-control" data-pr-form="Current-pass"
                                                   name="oldPassword"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,20}"
                                                   placeholder="Enter Current Password" required
                                                   th:field="${userCp.currentPassword}"
                                                   title="Must contain at least one  number and one uppercase and lowercase letter, and at least 4 or more characters"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <label><b>New Password</b></label>
                                            <input class="form-control" data-pr-form="new-password"
                                                   name="newPassword"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,20}"
                                                   placeholder="Enter New Password" required
                                                   th:field="${userCp.newPassword}"
                                                   title="Must contain at least one  number and one uppercase and lowercase letter, and at least 4 or more characters"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <label><b>Confirm New Password</b></label>
                                            <input class="form-control" data-pr-form="confirm-password"
                                                   name="confirmNewPassword"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,20}"
                                                   placeholder="Confirm New Password"
                                                   required th:field="${userCp.confirmNewPassword}"
                                                   title="Must contain at least one  number and one uppercase and lowercase letter, and at least 4 or more characters"
                                                   type="password">
                                        </div>
                                        <div class="col-12">
                                            <label class="error error-color text-danger" style="font-weight: bold;"
                                                   th:each="err : ${userCpErrors}"
                                                   th:text="${err}">Email name error placeholder</label>
                                        </div>
                                        <button class="btn btn-default" type="submit"><i class="far fa-save"></i>
                                            Save
                                            Changes
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <h3 class="admin-heading bg-offwhite" th:unless="${user.getAdditionalInfo().isVerified()}">Send
                            verification<a class="btn-link pbtn"
                                           data-id="send-verify"
                                           href="#send-verify"
                                           id="verification"
                                           onclick="cacheAcordion('verification')"><i
                                    class="fas fa-edit mr-1"></i>Change</a></h3>


                        <!-- Send verification info  -->
                        <div class="accord bg-offwhite" id="send-verify">
                            <div class="content-edit-area">
                                <div class="edit-header">
                                    <button class="close" type="button"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="edit-content">
                                    <form enctype='multipart/form-data'
                                          id="sendverify"
                                          method="post"
                                          th:action="@{/users/{id}/send-verify(id=${user.getId()})}"
                                          th:object="${userVerify}">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label for="file"><b>Selfie</b></label>
                                                    <label>
                                                        <input accept=".jpg,.jpeg,.png,.gif" class="form-control"
                                                               data-pr-form="picture"
                                                               name="selfie"
                                                               onchange="return fileValidation()"
                                                               th:field="${userVerify.selfie}"
                                                               type="file">
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="file"><b>ID Card</b></label>
                                                    <label>
                                                        <input accept=".jpg,.jpeg,.png,.gif" class="form-control"
                                                               data-pr-form="picture"
                                                               name="idCard"
                                                               onchange="return fileValidation()"
                                                               th:field="${userVerify.idCard}"
                                                               type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label class="error error-color text-danger" style="font-weight: bold;"
                                                   th:each="err : ${userVerifyErrors}" th:text="${err}">Email name error
                                                placeholder</label>
                                        </div>
                                        <button class="btn btn-default" type="submit"><i class="far fa-save"></i>
                                            Save
                                            Changes
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="admin-heading bg-offwhite">View addons<a class="btn-link-redirect"
                                                                        th:href="@{/addons/user/{userId}(userId=${user.getId()})}">
                        <i class="fas fa-share mr-1"></i>
                        View</a></h3>

                    <div class="infoItems bg-offwhite">
                        <div class="row">
                            <p class="col-sm-12" th:if="${user.getAdditionalInfo().isVerified()}">
                                <img alt="No image added" src="/assets/img/verified-middle.png" style="width: 40px;height: 40px;
                                margin-left: auto; margin-top: auto">
                            </p>

                            <p class="col-sm-12" th:unless="${user.avatar==null}">
                                <img src="" style="width: 150px;height: 150px;border-radius: 50%;
                                margin-left: auto; margin-right: auto; display: block;border-style: outset;"
                                     th:src="@{'data:image/jpeg;base64,' + ${user.avatar}}">
                            </p>


                            <p class="col-sm-12" th:if="${user.avatar==null}">
                                <img alt="No image added" src="/assets/img/avatar.png"
                                     style="width: 150px;height: 150px;border-radius: 50%;
                                margin-left: auto; margin-right: auto; display: block;border-style: outset;">
                            </p>

                            <hr>
                            <div class="row">
                                <p class="col-sm-3"><b>First Name</b></p>
                                <p class="col-sm-9" th:if="${#strings.isEmpty(user.firstName)}">No name added.</p>
                                <p class="col-sm-9" th:text="${user.firstName}"
                                   th:unless="${#strings.isEmpty(user.firstName)}"></p>
                            </div>
                            <hr>
                            <div class="row">
                                <p class="col-sm-3"><b>Last Name</b></p>
                                <p class="col-sm-9" th:if="${#strings.isEmpty(user.lastName)}">No name added.</p>
                                <p class="col-sm-9" th:text="${user.lastName}"
                                   th:unless="${#strings.isEmpty(user.lastName)}"></p>
                            </div>
                            <hr>
                            <div class="row">
                                <p class="col-sm-3"><b>Username</b></p>
                                <p class="col-sm-9" th:if="${#strings.isEmpty(user.username)}">No name added.</p>
                                <p class="col-sm-9" th:text="${user.username}"
                                   th:unless="${#strings.isEmpty(user.username)}"></p>
                            </div>
                            <hr>
                            <div class="row">
                                <p class="col-sm-3"><b>Email</b> <span
                                        class="text-muted font-weight-500"></span></p>
                                <p class="col-sm-9" th:text="${user.email}"></p>
                            </div>
                            <hr>
                            <div class="row">
                                <p class="col-sm-3"><b>Phone Number</b> <span class="text-muted font-weight-500"></span>
                                </p>
                                <p class="col-sm-9" th:text="${user.phone}"></p>
                            </div>

                        </div>

                        <div th:if="${currentUser != null} and ${currentUser.getId() == user.getId()}">

                            <form action="#" method="post"
                                  onsubmit="return confirm('Do you really want to delete the addon?');"
                                  style="margin: auto; width: 10%;"
                                  th:action="@{/users/{id}/delete(id=${user.getId()})}"
                                  th:object="${user}">
                                <input class="btn btn-danger btn-sm enhanced" name="Lock account"
                                       type="submit" value="Lock account"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->
    <!-- ======= Footer ======= -->
    <th:block th:include="~{/fragments/footer.html}"/>
    <!-- End Footer -->

    <!--<a class="scroll-top d-flex align-items-center justify-content-center" href="#"><i class="bi bi-arrow-up-short"></i></a>-->

    <!--<div id="preloader"></div>-->
    <!-- Vendor JS Files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/daterangepicker.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/main.js"></script>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/owl.carousel2.thumbs.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/../../cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="/../../s3-us-west-2.amazonaws.com/s.cdpn.io/106949/jquery.onscreen.js"></script>
    <script src="/js/scripts.js"></script>
    <script id="personal-script">
        function cacheAcordion(name) {
            sessionStorage.setItem("userAccordion", name)
        }

        function checkCache() {
            const cacheName = sessionStorage.getItem("userAccordion")
            if (cacheName) {
                const element = document.getElementById(cacheName)
                element.click()
            }
        }

        checkCache()
    </script>
    <th:block th:include="~{/fragments/scripts.html}"/>
</body>
</html>