<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/headers.html}"/>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{/fragments/navbar.html}"/>
<!-- custom css if you need -->
<link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>All Users</h2>
                        <!--                        <p>The better addons registry.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li>Users</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->



    <!-- ======= Blog Section ======= -->
    <section class="blog" id="blog">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4 posts-list">
                <div style="background-color: transparent">
                    <form method="get" th:action="@{'/users/filter/' + ${page}}"
                          th:object="${userFilterDto}">
                    <div class="row">
                        <table class="table table-borderless">
                            <thead>
                            <tr style="color: white">
                                <th class="text-center"><label>Search by Username</label></th>
                            </tr>
                            <tr>

                                <td>
                                    <div class="form-group col-6">
                                        <div class="input-group">
                                            <input class="form-control text-center" placeholder="Username"
                                                   style="background-color: white;width: 10px; border-radius: 50px"
                                                   th:field="${userFilterDto.username}"
                                                   type="text">
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="col-12">
                                        <input class="btn btn-success text-center btn-medium"
                                               style="background-color: #008374;margin-left: 80%; border-radius: 50px"
                                               type="submit" value="Search"/>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    </form>
                </div>

                <div class="col-xl-4 col-md-6" th:each="user:${users}">
                    <article>
                        <div class="post-img">
                            <img alt="" class="rounded-circle"
                                 th:src="@{'data:image/jpeg;base64,' + ${user.avatar}}" th:unless="${user.avatar==null}">
                            <img alt="" class="rounded-circle"
                                 src="/assets/img/avatar.png" th:if="${user.avatar==null}">
                        </div>

                        <h2 class="title">
                            <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">Addon</a>
                        </h2>
                        <!-- ADMIN VIEW -->
                        <div class="row"
                             th:if="${currentUser != null} and ${currentUser.isAdmin()} and ${currentUser.getId() != user.getId()}">
                            <!-- BLOCK USER -->
                            <div class="col-4 user-admin-buttons" th:if="${!user.getUserDetails().isBlocked}">
                                <form action="#" method="post" th:action="@{/users/{id}/block(id=${user.getId()})}">
                                    <input name="page" th:value="${page}" type="hidden"/>
                                    <button class="btn btn-filled btn-round btn-tito hover-4" name="block" type="submit"
                                            value="block">
                                        <span class="bh"></span> <span>Block</span></button>
                                </form>
                            </div>
                            <div class="col-4 user-admin-buttons" th:if="${user.getUserDetails().isBlocked}">
                                <form action="#" method="post" th:action="@{/users/{id}/unblock(id=${user.getId()})}">
                                    <input name="page" th:value="${page}" type="hidden"/>
                                    <button class="btn btn-filled btn-round btn-tito hover-4" name="unblock"
                                            type="submit"
                                            value="unblock">
                                        <span class="bh"></span> <span>Unblock</span></button>
                                </form>
                            </div>
                            <!-- END OF BLOCK USER -->
                            <!-- CHANGE PERMISSIONS -->
                            <div class="col-4 user-admin-buttons" th:if="${user.isAdmin()}">
                                <form action="#" method="post"
                                      th:action="@{/users/{id}/change-permissions(id=${user.getId()})}">
                                    <input name="page" th:value="${page}" type="hidden"/>
                                    <button class="btn btn-filled btn-round btn-tito hover-4" name="promote"
                                            type="submit"
                                            value="change-role">
                                        <span class="bh"></span> <span>Demote</span></button>
                                </form>
                            </div>
                            <div class="col-4 user-admin-buttons" th:if="${!user.isAdmin()}">
                                <form action="#" method="post"
                                      th:action="@{/users/{id}/change-permissions(id=${user.getId()})}">
                                    <input name="page" th:value="${page}" type="hidden"/>
                                    <button class="btn btn-filled btn-round btn-tito hover-4" name="promote"
                                            type="submit"
                                            value="change-role">
                                        <span class="bh"></span> <span>Promote</span></button>
                                </form>
                            </div>
                            <!-- END OF CHANGE PERMISSIONS -->
                            <!-- VERIFY-->
                            <div class="col-4 user-admin-buttons" th:unless="${!user.getUserDetails().verified}">
                                <p class="btn btn-filled btn-round btn-tito" style="background-color: #008374">
                                    <span class="bh"></span> <span>Verified</span></p>
                            </div>
                            <div class="col-4 user-admin-buttons" th:if="${!user.getUserDetails().verified}">
                                <form action="#" method="post"
                                      th:action="@{/users/{id}/verify(id=${user.getId()})}">
                                    <input name="page" th:value="${page}" type="hidden"/>
                                    <button class="btn btn-filled btn-round btn-tito hover-4" name="verify"
                                            type="submit"
                                            value="verify">
                                        <span class="bh"></span> <span>Verify</span></button>
                                </form>

                            </div>
                            <!-- END OF VERIFY-->
                        </div>
                        <!--END OF ADMIN VIEW-->
                    </article>
                </div>
            </div>
        </div><!-- End blog posts list -->
        <div class="blog-pagination">
            <nav>
                <ul class="pagination">
                    <li th:if="${firstPage} == false">
                        <a th:href="@{${page - 1} + '?userName=' + ${userFilterDto.username}}">
                            <span aria-hidden="true">«</span><span class="visuallyhidden"></span></a>
                    </li>
                    <li><a aria-current="page"
                           th:href="@{${page} + '?userName=' + ${userFilterDto.username}}"
                           th:text="${page}" th:value="page">1</a>
                    <li th:if="${lastPage} == false">
                        <a th:href="@{${page + 1} + '?userName=' + ${userFilterDto.username}}">
                            <span class="visuallyhidden"></span><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div><!-- End blog pagination -->
    </section><!-- End Blog Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:include="~{/fragments/footer.html}"/>
<!-- End Footer -->

<a class="scroll-top d-flex align-items-center justify-content-center" href="#"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:include="~{/fragments/scripts.html}"/>

</body>

</html>