<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/headers.html}"/>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{/fragments/navbar.html}"/>
<!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 th:text="${user.getUsername()} + '`s'+ ' ' + addons" >Addons</h2>
            <!--                        <p>The better addons registry.</p>-->
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="#" th:href="@{/}">Home</a></li>
          <li><a href="#" th:href="@{/users/filter/1}">Users</a></li>
          <li>Addons</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->
  <!-- ======= Blog Section ======= -->
  <section id="blog addons" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4 posts-list" >
        <div th:if="${!userAddons.isEmpty()}" class="col-xl-4 col-md-6" th:each="addon:${userAddons}" >
          <article>
            <div class="post-img" th:unless="${addon.avatar==null}" >
              <img th:src="@{'data:image/jpeg;base64,' + ${addon.avatar}}" alt="No image added" src=""
                   class="img-fluid" style="max-width: 85%" >
            </div>
            <div class="post-img" th:if="${addon.avatar==null}" >
              <img src="/assets/img/addons-avatar.png" alt="No image added"
                   class="img-fluid" style="max-width: 85%" >
            </div>
            <p class="post-category" th:text="${addon.getIde().getName()}">IDE</p>
            <h2 class="title">
              <a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}" th:text="${addon.getName()}">Addon</a>
            </h2>
            <div class="d-flex align-items-center">
              <div th:unless="${user.avatar==null}">
              <img th:src="@{'data:image/jpeg;base64,' + ${addon.creator.avatar}}" alt=""
                   class="img-fluid post-author-img flex-shrink-0">
              </div>
              <div th:if="${user.avatar==null}">
                <img src="/assets/img/avatar.png" alt=""
                     class="img-fluid post-author-img flex-shrink-0">
              </div>
              <div class="post-meta">
                <p class="post-author-list" th:text="${addon.getCreator().getUsername()}">Creator</p>
              </div>
            </div>
          </article>
        </div>
        <div th:if="${userAddons.isEmpty()}" class="col-xl-4 col-md-6" >
          No addons
        </div>
      </div>
    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:include="~{/fragments/footer.html}"/>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:include="~{/fragments/scripts.html}"/>

</body>

</html>