<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/headers.html}"/>

<body>
<th:block th:include="~{/fragments/navbar.html}"/>
<link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">
<section class="team" id="team">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4 posts-list" th:each="user:${verifications}">
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img alt="No image added" class="img-fluid" src=""
                         style="max-width: 85%; border-radius: 50%"
                         th:src="@{'data:image/jpeg;base64,' + ${user.getUserDetails().getIdCard()}}">
                    <h4>ID Card</h4>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img alt="No image added" class="img-fluid" src=""
                         style="max-width: 85%; border-radius: 50%"
                         th:src="@{'data:image/jpeg;base64,' + ${user.getUserDetails().getSelfie()}}">
                    <h4>Selfie </h4>
                </div>
            </div>
            <h4 th:text="${user.getUsername()}"></h4>
        </div>
    </div>
</section>
<div class="footer-fixed">
    <th:block th:include="~{/fragments/footer.html}"/>
</div>
<a class="scroll-top d-flex align-items-center justify-content-center" href="#"><i class="bi bi-arrow-up-short"></i></a>
<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>