<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/headers.html}"/>

<body>
<th:block th:include="~{/fragments/navbar.html}"/>
<main id="main">
    <section id="blog" class="blog  adminView">
        <div th:unless="${unverifiedAddons.size() > 0}">
            <span class="nothing-here">You currently have no addons to verify.</span>
        </div>
        <table th:if="${unverifiedAddons.size() > 0}" class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Addon</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="addon : ${unverifiedAddons}">
                <th scope="row" th:text="${addon.getId()}">1</th>
                <td><a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}" th:text="${addon.getName()}"></a></td>
                <!--      th:value="${addon.name}" th:text="${addon.name}" Addon row</td>-->
                <td>
                    <form id="updateForm" method="get" th:action="@{/users/verify-single-addon/{id}(id=${addon.id})}"><input
                            type="submit" class="btn btn-info" value="Enter Code"></form>
                </td>

            </tr>
            </tbody>
        </table>
    </section>
</main>
<div class="footer-fixed">
    <th:block th:include="~{/fragments/footer.html}"/>
</div>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>