<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  <!-- Favicon icon -->
  <link href="images/favicon.png" rel="shortcut icon" type="image/png"/>

  <!-- Stylesheet -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
  <link href="../static/css/adminStyle.css" rel="stylesheet" th:href="@{/css/adminStyle.css}" type="text/css">
  <link href="../static/css/adminCsstyle.css" rel="stylesheet" th:href="@{/css/adminCsstyle.css}" type="text/css">
  <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css">
  <link href="../static/css/all.min.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

  <th:block th:include="~{/fragments/headers.html}"/>
  <title>Addonis</title>

</head>
<body>
<th:block th:include="~{/fragments/navbar.html}"/>

<!-- Document Wrapper  -->
<div id="main-wrapper">

  <!-- Admin Hero section-->
  <!--    <div class="hero-section">-->
  <!--    </div>-->
  <!-- Admin End of Hero section-->
  <!-- Content -->
  <div class="py-4" id="content">
    <div class="container">
      <div class="row">

        <!-- Middle Panel -->
        <div class="col-lg-9 profile-area center">

          <h4 class="warning" style="font-weight: bold;">Please check your email to complete the registration process.</h4>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content end -->
<!-- ======= Footer ======= -->
<div class="footer-fixed">
  <th:block th:include="~{/fragments/footer.html}"/>
</div>
<!-- End Footer -->

<th:block th:include="~{/fragments/scripts.html}"/>
</body>
</html>